{%extends "layout_log.html"%}
{% block title %}SignUp{% endblock %}
{%block back%} <button type="submit" class="btn btn-info btn-sm" name="my-file" onclick="location.href='{% url 'home' %}'">Back</button>{%endblock%}
{% block name %}{{name|safe}} {% endblock %}

{% block content %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><font color="white">Healthiness Report</font></h3>
              </div>
               <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-24">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Healthiness Report Form <small></small></h2>
           <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

<form action="/report_postcreatereport/" method="post" id="report" class="form-horizontal form-label-left">	{% csrf_token %}	
<span class="section">Healthiness</span>
<div class="item form-group">
<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Lab Name: <span class="required">*</span>
</label>
<div class="col-md-6 col-sm-6 col-xs-12">
<textarea id="textarea" class="form-control col-md-7 col-xs-12" name="Text1" cols="6" rows="1" required></textarea>
</div></div>
<div class="item form-group">
<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">BLood Sugar Fast in mg%: <span class="required">*</span>
</label>
<div class="col-md-6 col-sm-6 col-xs-12">
<textarea id="textarea" class="form-control col-md-7 col-xs-12" name="Text2" cols="6" rows="1" required></textarea>
</div>
</div>
<div class="item form-group">
<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Blood sugar Post Prandial in mg%: <span class="required">*</span>
</label>
<div class="col-md-6 col-sm-6 col-xs-12">
<textarea id="textarea" class="form-control col-md-7 col-xs-12" name="Text3" cols="6" rows="1" required></textarea>
</div>
</div>
    <div class="item form-group">
<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">POLYMORPHS in cells/Cmm: <span class="required">*</span>
</label>
<div class="col-md-6 col-sm-6 col-xs-12">
<textarea id="textarea" class="form-control col-md-7 col-xs-12" name="Text4" cols="6" rows="1" required></textarea>
</div>
</div>
<div class="item form-group">
<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">EOSINOPHILS in cells/Cmm: <span class="required">*</span>
</label>
<div class="col-md-6 col-sm-6 col-xs-12">
<textarea id="textarea" class="form-control col-md-7 col-xs-12" name="Text5" cols="6" rows="1" required></textarea>
</div>
</div>
<div class="ln_solid"></div>
<div class="form-group">
<div class="col-md-6 col-md-offset-3">
<button type="submit" name="my-file" class="btn btn-primary" form = "report" required>Submit</button>
</div></div>

</form>
</div>
</div></div></div></div></div></div>
{% endblock %}
